.dashboard-paper {
  background-color: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow */
  padding: 20px; /* Padding inside the paper */
  margin-bottom: 20px; /* Margin bottom to create space between papers */
  width: 80%; /* Default width */
  max-width: 600px; /* Maximum width */
  margin-left: auto; /* Center the paper horizontally */
  margin-right: auto; /* Center the paper horizontally */

  @media (max-width: 768px) {
    width: 90%; /* Adjust width for smaller screens */
  }

  @media (max-width: 576px) {
    width: 95%; /* Adjust width for even smaller screens */
  }
}
